@import "_variables";
@import "_mixins";

.feature-section {
    margin-top: 5rem;

    h1 {
      text-align: center;

      @include respond(tab-land) {
        width: 60%;
        margin: 0 auto;
        font-size: 2.5rem;
      }
    }
}

.feature-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem;
  margin-top: 6rem;

  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 28%;
    height: 28%;

    @include respond(tab-land) {
      width: 60%;
    }
  }
}

.features{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include respond(tab-land) {
    margin-top: 5rem;
  }
}

.feature-item {
  flex-grow: 1;
  margin: .5rem 5rem;
  width: 25%;

  p {
    color: $color-gray;
  }
}

.feature-subscribe {
  margin-top: 5rem;

  p {
    width: 55%;
    margin: auto;
    text-align: center;
    color: $color-dark-blue;
    font-weight: 600;

    @include respond(tab-land) {
      display: block;
      margin: 2rem auto;
    }
  }
}
