@import "_variables.scss";

.feature-section {
    margin-top: 5rem;

    h2 {
      text-align: center;
    }
}

.feature-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem;
  margin-top: 6rem;

  img {
    width: 28%;
    height: 28%;
  }
}

.features{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-item {
  flex-grow: 1;
  margin: .5rem 5rem;
  width: 25%;

  p {
    color: $color-gray;
  }
}
